    .form-horizontal{
        width: 50% !important;
         margin: auto !important;
    }
    .table {
    	width: 50% !important;
    	margin: auto;
    } 
    .agent-head {
    	margin-left: 350px;
    }
    